<!-- <form #f="ngForm" (ngSubmit)="onSubmit( f.values )">
    <label for="nombreInput">Ingresar nombre</label>
    <input
       type="text"
       id="nombreInput"
       placeholder="nombre"
       name="name"
       ngModel> 
    <button type="submit">Submit</button>
 </form> -->

 <form
 [formGroup]="myForm"
 (ngSubmit)="onSubmit( myForm.value )">
  Nombre:
  <input class="form-control"
  type="text"
  id="nombreInput"
  placeholder="nombre" 
  name="nombre" 
  [formControl]="myForm.controls['nombre']">
  <span *ngIf="nombre.invalid && nombre.touched">
      El campo no es válido.
  </span>

  <br/>
  Apellido:
  <input class="form-control"
  type="text"
  id="apellidoInput"
  placeholder="apellido" 
  name="apellido" 
  [formControl]="myForm.controls['apellido']">
  <span *ngIf="apellido.invalid && apellido.touched">
    El apellido no es válido.
  </span>
  

  <br/>
  Email:
  <input class="form-control"
  type="text"
  id="emailInput"
  placeholder="email" 
  name="email" 
  [formControl]="myForm.controls['email']">
  <span *ngIf="email.invalid && email.touched">
      El email no es válido.
  </span>

  <br/>
  <input 
  type="checkbox"
  id="newsCheckInput"
  placeholder="newsCheck" 
  name="newsCheck" 
  [formControl]="myForm.controls['newsCheck']">
  ¿Desea suscribirse al newslester?
  <br/>
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Enviar</button>

 </form>